h1 {
    border-bottom: solid 2px gray;
    padding: 20px;
    margin: 0;
    text-align: center;
}
h2 {
    margin-left: 5px;
}
ol {
    border-right: solid 1px gray;
    width: 100px;
    margin: 0;
    padding: 20px;
    text-align: center;
    font-size: 120%;
}
#grid {
    display: grid;
    grid-template-columns: 150px 1fr;
    margin-left: 10px;
}
/* 리스트 밑줄 없애는 것 ↓ */
#grid li a{
    text-decoration: none;
}

.lshTitle {
    color: brown;
    transition: color 0.5s ease-in-out;
}
.titleClicked {
    color: slateblue;
    transition: color 0.5s ease-in-out;
}
